<!DOCTYPE html>
<html>
<head>
    <title>Frequency Counter Dashboard</title>
</head>

<body>

<div class="container">

    <h1>Frequency Counter Algorithm Dashboard</h1>

    <input type="text" id="inputArray"
        placeholder="Enter values separated by commas">

    <button id="compareBtn">Compare</button>

    <select id="methodSelect">
        <option value="nested">Nested Loop (O(n²))</option>
        <option value="single">Single Loop (O(n²))</option>
    </select>

</div>
<script src="/static/script.js"></script>
</body>
</html>